In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [ ]:
df.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [ ]:
len(df)

1628186

In [ ]:
df.count()

date      1628186
county    1628186
state     1628186
fips      1613393
cases     1628186
deaths    1591563
dtype: int64

In [ ]:
df.head() #this shows by default, the first 5 rows of data
df.tail() #this shows by default, the first 5 rows of data
df.head(10) #this shows the first 10 rows

         date       county       state  cases  deaths
0  2020-01-21    Snohomish  Washington      1     0.0
1  2020-01-22    Snohomish  Washington      1     0.0
2  2020-01-23    Snohomish  Washington      1     0.0
3  2020-01-24         Cook    Illinois      1     0.0
4  2020-01-24    Snohomish  Washington      1     0.0
5  2020-01-25       Orange  California      1     0.0
6  2020-01-25         Cook    Illinois      1     0.0
7  2020-01-25    Snohomish  Washington      1     0.0
8  2020-01-26     Maricopa     Arizona      1     0.0
9  2020-01-26  Los Angeles  California      1     0.0

In [ ]:
df.groupby(['state'])['deaths'].count().sort_values(ascending=False)

state
Texas                       125168
Georgia                      81849
Virginia                     67343
Kentucky                     60292
Missouri                     58127
Illinois                     51795
Kansas                       51013
North Carolina               50909
Iowa                         50170
Tennessee                    48895
Indiana                      47138
Ohio                         45160
Minnesota                    44211
Nebraska                     43969
Michigan                     42606
Mississippi                  42032
Oklahoma                     38941
Arkansas                     38588
Wisconsin                    36623
Florida                      35070
Pennsylvania                 34418
Alabama                      34289
Louisiana                    33418
Colorado                     32311
South Dakota                 31798
New York                     30090
California                   30090
West Virginia                27441
North Dakota                 25973
Montana                      25592
South Carolina               23717
Idaho                        21346
Washington                   20392
Oregon                       18095
New Mexico                   16474
Utah                         14849
Alaska                       13038
Maryland                     12920
Wyoming                      11628
New Jersey                   11499
Maine                         8550
Nevada                        8234
Massachusetts                 7879
Arizona                       7853
Vermont                       7723
New Hampshire                 5653
Connecticut                   4670
Rhode Island                  3090
Hawaii                        2379
Delaware                      2055
Virgin Islands                1637
Northern Mariana Islands       990
District of Columbia           529
Puerto Rico                    523
Guam                           521
Name: deaths, dtype: int64

In [ ]:
df['county']

0           Snohomish
1           Snohomish
2           Snohomish
3                Cook
4           Snohomish
              ...
1628181    Sweetwater
1628182         Teton
1628183         Uinta
1628184      Washakie
1628185        Weston
Name: county, Length: 1628186, dtype: object

In [ ]:
df[df['deaths']>30090]

               date         county     state  fips    cases   deaths
1113803  2021-03-12  New York City  New York   NaN   770654  30116.0
1117050  2021-03-13  New York City  New York   NaN   773540  30174.0
1120297  2021-03-14  New York City  New York   NaN   777418  30258.0
1123543  2021-03-15  New York City  New York   NaN   781734  30303.0
1126789  2021-03-16  New York City  New York   NaN   785307  30366.0
...             ...            ...       ...   ...      ...      ...
1613822  2021-08-13  New York City  New York   NaN   998350  33639.0
1617070  2021-08-14  New York City  New York   NaN  1000703  33645.0
1620318  2021-08-15  New York City  New York   NaN  1002520  33657.0
1623565  2021-08-16  New York City  New York   NaN  1004659  33661.0
1626812  2021-08-17  New York City  New York   NaN  1006142  33684.0

[159 rows x 6 columns]

In [ ]:
drop_cols = ['fips']
df
df[df['deaths']>30090]

               date         county     state    cases   deaths
1113803  2021-03-12  New York City  New York   770654  30116.0
1117050  2021-03-13  New York City  New York   773540  30174.0
1120297  2021-03-14  New York City  New York   777418  30258.0
1123543  2021-03-15  New York City  New York   781734  30303.0
1126789  2021-03-16  New York City  New York   785307  30366.0
...             ...            ...       ...      ...      ...
1613822  2021-08-13  New York City  New York   998350  33639.0
1617070  2021-08-14  New York City  New York  1000703  33645.0
1620318  2021-08-15  New York City  New York  1002520  33657.0
1623565  2021-08-16  New York City  New York  1004659  33661.0
1626812  2021-08-17  New York City  New York  1006142  33684.0

[159 rows x 5 columns]

In [ ]:
df["deaths"].mean()

107.5642139205297

In [ ]:
df['cases'].mean()

5398.295264177435

In [ ]:
DataFrame.sort_values(by='date')
df

NameError: ignored